SominerServerMonitor/Service References/DistriGather/SoukeySplitService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.netminer.cn" elementFormDefault="qualified" targetNamespace="http://www.netminer.cn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/SoukeySplitService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoukeySplitService" />
  <xs:element name="isConnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isConnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTaskStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoukeySplitService" minOccurs="0" name="GetTaskListResult" nillable="true" type="q1:ArrayOfcTaskData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskRunList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskRunListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoukeySplitService" minOccurs="0" name="GetTaskRunListResult" nillable="true" type="q2:ArrayOfcTaskData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>