SoukeyNetget/Web References/Cloud/Cloud.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConnectServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectServerResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConnectServerSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectServer" />
  </wsdl:message>
  <wsdl:message name="ConnectServerSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectServerResponse" />
  </wsdl:message>
  <wsdl:portType name="CloudSoap">
    <wsdl:operation name="ConnectServer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据软件注册账号获取用户名称及积分</wsdl:documentation>
      <wsdl:input message="tns:ConnectServerSoapIn" />
      <wsdl:output message="tns:ConnectServerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CloudSoap" type="tns:CloudSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectServer">
      <soap:operation soapAction="http://tempuri.org/ConnectServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudSoap12" type="tns:CloudSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectServer">
      <soap12:operation soapAction="http://tempuri.org/ConnectServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cloud">
    <wsdl:port name="CloudSoap" binding="tns:CloudSoap">
      <soap:address location="http://localhost:23862/Cloud.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudSoap12" binding="tns:CloudSoap12">
      <soap12:address location="http://localhost:23862/Cloud.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>